
.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  width: 20%;
  background-color: #fed8b1;
}

.card img {
  width: 100%;
  height: 160px;
  float: right;
}

.card button {
  margin-top: 0.5rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  font-size: smaller;
  border: none;
  cursor: pointer;
  width: 8rem;
}

button.primary {
  background-color: var(--orange);
  color: white;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}